<h1>Add a New Recipe!!!</h1>

<form action="/recipes" method="post">
  <label for="recipe_name">Name</label>
  <input id="recipe_name" type="text" name="recipe[name]">
  <label for="recipe_description">Description</label>
  <input id="recipe_description" type="text" name="recipe[description]">
  <button>Create</button>
</form>
